@import '../../../scss/variables.module.scss';

%before {
  ::before {
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    height: 1px;
    content: '';
  }
}

.expendMoreIcon {
  color: $black;
  font-size: 35px;
}

.accordion {
  top: 0;
  left: 0;
  background-color: $white;
  font-weight: bold;
  z-index: 9;
  border: none;
  overflow-y: auto;
  margin: 0 !important;
}

.customAccordion {
  width: max-content;
  box-shadow: none;
  margin: 0 !important;
}

.summary {
  margin: 0;
  @extend %before;
  & > * {
    margin: 0 !important;
  }
}

.icon {
  margin: auto 0;
  font-size: 22px;
}

.title {
  font-size: 18px;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border: none;
  margin-left: 3px;
}

.details {
  background-color: $white;
  overflow: hidden;
  transition: height ease 0.2s;
  padding: 8px 22px 8px;
}

.menuList {
  margin: 0;
  list-style-type: none;
  border-left: 1px solid $light-grey-text-color;
  padding-left: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.menuItem,
.menuLink {
  display: block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  padding: 3px;
  color: $light-grey-text-color;
  border-radius: 4px;
  font-weight: 300;
}

.menuLink:hover {
  background-color: $primary-grey;
  cursor: pointer;
}
