$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

$primary-grey: #d4d6e0;
$white: #fff;
$black: #000;
$violet: #2e1a47;
$grey-text-color: #222;
$light-grey-text-color: #444;
$ui-danger-red: #b20101;
$variance-red: #ff0000;
$variance-green: #00ff00;
$ui-positive-green: #008000;
$ui-warning-orange: #ff9500;
$ui-warning-blue: #2b60de;
$ui-warning-red: #dc381f;
$primary-blue: #293462;
$pale-pink: #f7ced7;

%before {
  ::before {
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    height: 1px;
    content: '';
    background-color: $white;
  }
}

.accordion {
  top: 0;
  left: 0;
  background-color: $white;
  font-weight: bold;
  z-index: 9;
  border: none;
  overflow-y: auto;
  margin: 0 !important;
}

.customAccordion {
  box-shadow: none;
  margin: 0 !important;
}

.summary {
  margin: 0;
  @extend %before;
  & > * {
    margin: 0 !important;
  }
}

.icon {
  margin: auto 0;
}

.title {
  font-size: 17px;
  font-weight: 700;
  width: 100%;
  padding: 14px 8px;
  cursor: pointer;
  border: none;
}

.details {
  background-color: $white;
  overflow: hidden;
  transition: height ease 0.2s;
  padding: 0 20px 8px 22px;
}

.menuList {
  list-style-type: none;
  border-left: 1px solid $light-grey-text-color;
  padding-left: 10px;
}

.menuItem,
.menuLink {
  display: block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  padding: 14px;
  color: $light-grey-text-color;
  border-radius: 4px;

  &:hover {
    background-color: $primary-grey;
    cursor: pointer;
  }
}
