@import '../../../scss/variables.module.scss';

%before {
  ::before {
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    height: 1px;
    content: '';
    background-color: $primary-blue;
  }
}

.expendMoreIcon {
  color: $white;
  font-size: 35px;
}

.menuContainer {
  position: fixed;
  top: 10px;
  left: 0;
}

.accordion,
.customAccordion,
.summary,
.details,
.menuList {
  border: none;
  margin: 0;
  padding: none;
}

.accordion,
.customAccordion,
.details,
.menuList {
  background-color: $primary-blue;
}

.summary {
  min-width: max-content;
  background-color: $primary-blue !important;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  width: 100%;
  padding: 14px 8px;
  cursor: pointer;
  line-height: 18px;
  @extend %before;
  & > * {
    margin: 0;
  }
}

.icon,
.title,
.menuItem,
.menuLink {
  color: $white;
  display: block;
  font-size: 15px;
  line-height: 18px;
}

.menuList {
  border-left: 1px solid #d0d3d4;
  padding-left: 10px;
}

.menuLink {
  text-decoration: none;
  padding: 14px;
}

.menuLink:hover {
  background-color: $dark-blue;
  cursor: pointer;
}
