@import '../../../scss/variables.module.scss';

.accordion {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0px 10px;
  background-color: $primary-blue;
  color: $primary-blue;
  font-weight: bold;
  z-index: 9;
  border: none;
  margin: 0;
  overflow-y: auto;
}

.customAccordion {
  border: none;
  margin: 0;
  padding: none;
  box-shadow: none;
  background-color: $primary-blue;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: $primary-blue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;

  }
}

.summary {
  min-width: max-content;
  margin: 0;
  background-color: $primary-blue;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  width: 100%;
  padding: 14px 8px;
  cursor: pointer;
  line-height: 18px;
  border: none;
}

.icon {
  color: $primary-blue;
  margin: 3px 10px 0 0;
}

.title {
  color: $primary-blue;
  font-weight: bold;
}

.details {
  padding: 10px;
  background-color: $primary-blue;
  overflow: hidden;
  transition: height ease 0.2s;
  padding: 9px 10px 20px 15px;
}

.menuList {
  list-style-type: none;
  border-left: 1px solid $light-grey-text-color;
  padding-left: 10px;
}

.menuItem {
  color: $primary-blue;
  display: block;
  font-size: 15px;
  line-height: 18px;
}

.menuLink {
  color: $primary-blue;
  text-decoration: none;
  display: block;
  font-size: 15px;
  padding: 14px;
  line-height: 18px;
}
